@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "playfair display", serif;
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
  /* Force light mode even in dark mode */
  html {
    color-scheme: light;
    background-color: #ffc2b4d7;
    color: #000;
  }
}
@keyframes slide {
  0% {
    transform: translateX(100%); /* Start off the screen (right side) */
  }
  100% {
    transform: translateX(-100%); /* Move to the left side of the screen */
  }
}

/* Applying the animation */
.animate-slide-in {
  animation: slide 10s linear infinite; /* 10s is the duration of the sliding */
  transition: ease in out;
}
/* In your global CSS or in a file like `src/index.css` or `styles.css` */

.drawer::-webkit-scrollbar {
  width: 14px; /* Set the width of the vertical scrollbar */
}

.drawer::-webkit-scrollbar-thumb {
  background-color: #8c2643; /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Round the corners of the scrollbar thumb */
  border: 2px solid #ccc; /* Add a border around the scrollbar thumb */
}

.drawer::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the scrollbar track */
  border-radius: 10px; /* Round the corners of the track */
}


::-webkit-scrollbar {
  width: 14px; /* Set the width of the vertical scrollbar */
  padding: 0px 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #8c2643; /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Round the corners of the scrollbar thumb */
  border: 2px solid #ccc; /* Add a border around the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the scrollbar track */
  border-radius: 10px; /* Round the corners of the track */
}


.serHero {
  border-radius: 100% 0% 0% 100% / 24% 45% 55% 76%   ;
}
.serHero2 {
  border-radius: 100% 0% 94% 6% / 2% 47% 53% 98%    ;
}
.hero {
  border-radius: 100% 0% 100% 0% / 0% 70% 30% 100% ;
}
.service{
  background: conic-gradient(at top right, #f3f4f6, #f4f4f5, #f43f5e);
}
.has-mask {
  position: absolute;
  clip: rect(10px, 150px, 130px, 10px);
}